@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-accent: #f38e82;
  --color-search: linear-gradient(to right bottom, #fbdb89, #f48982);
  --color-background--main: #f9f5f3;
  --color-background--page: linear-gradient(to right bottom, #fbdb89, #f48982);
  --color-grey-light-3: #d3c7c3;
  --color-text: #918581;
}

html {
  font-size: 62.5%;
}

@media (max-width: 61.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #615551;
  font-weight: 400;
  background-image: var(--color-background--page);
  background-repeat: no-repeat;
  background-size: cover;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 120rem;
  margin: 4vw auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 10rem minmax(80rem, auto);
  grid-template-areas:
    "header header"
    "search-results recipe";

  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
}

@media (max-width: 78.15em) {
  .app {
    margin: 0;
    max-width: 100%;
    border-radius: 0;
  }
}

.header {
  width: 100%;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-background--main);
}

.main-logo {
  height: 4.6rem;
  margin-left: 4rem;
}

.search {
  display: flex;
  align-items: stretch;
  padding-left: 3rem;
  border-radius: 10rem;
  background-color: #fff;
  /* overflow: hidden; */
}

.search__field {
  width: 30rem;
  font-size: 1.7rem;
  font-family: inherit;
  border: none;
}

.search__field:focus {
  outline: none;
}

@media (max-width: 50em) {
  .search__field {
    width: 100%;
  }
}

.search__field::placeholder {
  color: var(--color-grey-light-3);
}

.btn-primary {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: inherit;
  color: #fff;
  background-image: var(--color-search);
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-primary:hover {
  scale: 1.1;
}
.search-btn {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
}

.search-btn .btn-icon {
  transform: translateY(0);
  color: inherit;
}

.main-nav {
  align-self: stretch;
  margin-right: 2.5rem;
}

.nav__list {
  height: 100%;
  display: flex;
  list-style: none;
}

.nav__item {
  flex-shrink: 0;
}

.nav__btn {
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  color: inherit;
  border: none;
  background-color: inherit;
  padding-inline: 1.5rem;
  transition: background-color 0.3s;
}

.nav__btn:hover {
  background-color: #f2efee;
}

.btn-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--color-accent);
  stroke-width: 2;
  transform: translateY(-1px);
  margin-right: 0.6rem;
}

/* main */
.search-results {
  grid-area: search-results;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.result-list {
  padding-top: 3rem;
  list-style: none;
  width: 100%;
}

.recipe-brief {
  transition: all 0.3s;
}

.recipe-brief:hover {
  transform: translateY(-2px);
  background-color: var(--color-background--main);
}

.recipe-brief.selected {
  background-color: var(--color-background--main);
}

.recipe-brief-link:link,
.recipe-brief-link:visited {
  display: grid;
  grid-template-columns: 6rem 1fr;
  grid-template-areas:
    "image title"
    "image publisher";
  column-gap: 2rem;
  align-items: center;
  text-decoration: none;
  padding: 1.5rem 3rem;
  border-right: 1px solid white;
}

.recipe-brief-image {
  grid-area: image;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.recipe-brief-title {
  grid-area: title;
  text-transform: uppercase;
  color: var(--color-accent);
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.recipe-brief-publisher {
  grid-area: publisher;
  text-transform: uppercase;
  font-size: 1.2rem;
  align-self: start;
  color: var(--color-text);
  font-weight: 500;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pagination {
  margin-top: auto;
  padding: 1.5rem 3rem;
  display: flex;
}

.btn-page {
  border: none;
  border-radius: 999px;
  color: var(--color-accent);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.6rem 1.2rem;
  gap: 0.5rem;
  background-color: #f9f5f3;
  transition: all 0.3s;
  font-weight: 600;
}

.btn-page:hover {
  background-color: #f2efee;
}

.btn-page#next {
  margin-left: auto;
}

.btn-page#prev::before,
.btn-page#next::after {
  font-family: inherit;
  transform: translateY(-1px);
  font-weight: inherit;
}

.btn-page#prev::before {
  content: "\2190";
}
.btn-page#next::after {
  content: "\2192";
}

.copyright {
  color: #918581;
  padding: 1.5rem 3rem;
}

.copyright .author {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}
.recipe {
  grid-area: recipe;
  background-color: var(--color-background--main);
  display: flex;
  flex-direction: column;
}

.recipe-detail-header {
  width: 100%;
  height: 32rem;
  position: relative;
}

.recipe-detail-header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  opacity: 0.6;
}

.recipe-detail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-detail-title {
  font-size: 3.25rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  text-transform: uppercase;
  text-align: center;
  transform: translate(-50%, 20%) skewY(-6deg);
  color: white;
  width: 50%;
  line-height: 1.95;
}

.recipe-detail-title span {
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  padding: 1.3rem 2rem;
  background-repeat: no-repeat;
  /* text-align: center; */
  font-weight: 700;
  /* transform: translateX(-50%) skewY(-6deg); */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.serving {
  display: flex;
  align-items: center;
  padding: 7.5rem 7.5rem;
  padding-bottom: 4rem;
  gap: 3rem;
}

.serving-field {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}

.serving-field svg {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--color-accent);
  stroke-width: 2;
  margin-right: 1rem;
}

.value_field {
  font-weight: 600;
  margin-right: 0.6rem;
}

.text_field {
  text-transform: uppercase;
  margin-right: 1rem;
}

.serving-amount-operations {
  display: flex;
  align-items: center;
}

.btn-text {
  border: none;
  background-color: unset;
  width: 2.4rem;
  height: 2.4rem;
  color: var(--color-accent);
  gap: 0.2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-text:hover {
  transform: translateY(-2px);
}

.btn-text svg {
  stroke-width: 2;
  width: 100%;
  height: 100%;
}

.current-user-indicator {
  margin-left: auto;
  color: var(--color-accent);
  background-color: #eeeae8;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  border: none;
}

.current-user-indicator svg {
  width: 60%;
  height: 60%;
  stroke-width: 2;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.btn-bookmark {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.btn-bookmark svg {
  stroke-width: 2;
  width: 60%;
  height: 60%;
}

.btn-bookmark.bookmarked svg {
  fill: white;
}

.section {
  padding: 4.5rem 10rem;
}

.heading2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-accent);
  padding-bottom: 2rem;
  text-align: center;
}

.ingredients {
  background-color: #f2efee;
}

.ingredient-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}

.ingredient-item {
  display: flex;
  align-items: start;
  font-size: 1.6rem;
}

.ingredient-item svg {
  width: 2rem;
  height: 2rem;
  flex: none;
  color: var(--color-accent);
  stroke-width: 2;
  margin-right: 1rem;
}

.ingredient-unit,
.ingredient-description {
  margin-right: 0.5rem;
}

.message {
  font-size: 1.6rem;
  text-align: center;
  color: #918581;
}

.margin-top--small {
  margin-top: 1rem;
}

.message .author-name {
  /* color: black; */
  text-transform: capitalize;
  font-weight: 700;
}

.show-directions {
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  border-radius: 999px;
  margin-inline: auto;
  margin-block: 4rem;
}

.spinner {
  margin: 6rem auto;
  text-align: center;
}

.spinner.hidden {
  margin: 0;
  height: 0;
}
.spinner svg {
  width: 6rem;
  height: 6rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(0.5turn);
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* margin-block: 5rem; */
  padding: 5rem 4rem;
  max-width: 40rem;
  margin-inline: auto;
}

.error svg {
  width: 5rem;
  color: var(--color-accent);
  transform: translateY(2px);
  margin-right: 1rem;
  flex-shrink: 0;
}

.error .message {
  font-size: 1.8rem;
  font-weight: 500;
  color: inherit;
  /* max-width: 50%; */
}

.popup-root {
  position: relative;
}

.popup-root:hover .popup-menu {
  visibility: visible;
  opacity: 1;
}

.popup-menu {
  position: absolute;
  z-index: 100;
  /* right: 0; */
  right: -2.5rem;

  visibility: hidden;
  opacity: 0;
  transition: all 0.3s 0.2s;
  box-sizing: 0 0.8rem 5rem rgba(0, 0, 0, 0.2);
}

.bookmark-list {
  list-style: none;
}

.bookmarks-menu {
  width: 40rem;
  padding-block: 1rem;
  background-color: white;
}
